repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix]

  - repo: local
    hooks:
      - id: pyrefly
        name: pyrefly
        entry: uv run pyrefly check
        language: system
        pass_filenames: false
        types: [python]

      - id: unit-tests
        name: unit tests
        entry: uv run pytest
        language: system
        pass_filenames: false
        types: [python]
